    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
    }
    
    html,
    body {
        height: 100%;
        font-family: 'Roboto', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 18px;
        margin-bottom: 15px;
        font-family: 'Rubik', sans-serif;
    }
    
    p,
    h2 {
        margin: 5%;
        padding: 2%;
        line-height: 1.4;
    }
    
    .main-container {
        padding: 0 10%;
    }
    /** header, nav**/
    
    header {
        display: flex;
        justify-content: center;
    }
    
    .nav-container {
        padding: 20px;
        width: 90%;
        height: 50px;
        padding: 2rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    
    .nav-bar {
        display: flex;
    }
    
    .nav-bar a {
        margin-left: 2%;
        padding: 20px 40px 20px 40px;
        font-size: 1.25rem;
        color: #171718;
        text-decoration: none;
        float: right;
    }
    
    .nav-bar a:hover {
        color: #6a6a6d;
    }
    
    .lambda-container {
        margin-left: 5%;
        padding: 5px 5px 5x 10px;
    }
    
    .jumbo-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .jumbo {
        width: 100%;
    }
    
    .main-container {
        width: 100%;
        margin: 0 auto;
    }
    
    .top-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }
    
    .top-content .text-container {
        width: 48%;
        padding: 2% 7%;
        padding-bottom: 20px;
    }
    /*** boxes ***/
    
    .middle-content {
        margin-bottom: 20px;
        border-bottom: 1px dashed black;
    }
    
    .middle-content h2 {
        padding: 0 2%;
        margin-bottom: 0;
        display: flex;
    }
    
    .middle-content .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        justify-content: center;
    }
    
    .middle-content .boxes .box {
        width: 15%;
        height: 150px;
        margin: 20px 2.5%;
        text-align: center;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    
    #box1 {
        background-color: teal;
    }
    
    #box2 {
        background-color: gold;
    }
    
    #box3 {
        background-color: cadetblue;
    }
    
    #box4 {
        background-color: coral;
    }
    
    #box5 {
        background-color: crimson;
    }
    
    #box6 {
        background-color: forestgreen;
    }
    
    #box7 {
        background-color: darkorchid;
    }
    
    #box8 {
        background-color: hotpink;
    }
    
    #box9 {
        background-color: indigo;
    }
    
    #box10 {
        background-color: dodgerblue;
    }
    
    .bottom-content {
        display: flex;
        margin: 0 5% 20px;
        justify-content: space-around;
        justify-content: center;
    }
    
    .bottom-content .text-container {
        padding-right: 4%;
    }
    
    .bottom-content .text-container:last-child {
        padding-right: 0;
    }
    
    footer {
        width: 100%;
        background: black;
    }
    
    footer nav {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 2%;
        font-size: 14px;
    }
    
    footer nav a {
        color: #fff;
        text-decoration: none;
    }
    
    @media screen and (max-width: 800px) {
        /* header {
            display: flex;
            justify-content: center;
            flex-direction: column;
        } */
        .container {
            width: 100%;
            display: flex;
        }
        .nav-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            text-align: center;
            padding: 20px;
        }
        .nav-bar a {
            width: 60%;
            display: flex;
            justify-content: space-around;
            flex-shrink: 0;
        }
        .jumbo-container .jumbo {
            width: 100%;
            justify-content: space-around;
            flex-shrink: 0;
            align-self: flex-end;
        }
        .top-content {
            padding: 10%;
            display: flex;
            flex-direction: column;
        }
        .text-container {
            width: 300px;
        }
        .middle-content .boxes {
            justify-content: space-evenly;
            background-color: #ffffff;
        }
        .middle-content .boxes .box {
            width: 50%;
            height: 200px;
            text-align: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    
    @media screen and (max-width: 500px) {}
    /* @media screen and (max-width: 460px) {
        .top-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .top-content .text-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap; */
    /* width: 48%;
        padding: 2% 7%;
        padding-bottom: 20px; */
    /* } */
    /* .middle-content h2 {
            display: flex;
            align-items: center;
        }
        .middle-content .boxes .box {
            width: 15.5%;
            height: 100px;
            margin: 10px auto;
            /* align-items: center; */
    /* }
        .middle-content .boxes {
            flex-direction: column;
            justify-content: space-evenly;
            justify-content: center;
            background-color: #ffffff;
        }
    } */